* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}
header {
  background-color: #1a1a1d;
  color: #a64d79;
}
.animation {
  background-color: #6a1e55;
}

.head {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.portfolio {
  font-size: 3rem;
  font-weight: bolder;
}

.navigation {
  font-size: 2rem;
}

.navigation > button {
  background-color: #a64d79;
  color: 1a1a1d;
  border-radius: 5px;
  padding: 0.5rem;
  font-weight: bolder;
  border: none;
  font-size: 1.2rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(16, 1fr);
}

.animation {
  grid-column: 1/9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
}

.ball {
  animation-name: extended_spin;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes extended_spin {
  from {
    transform: translate(-200px);
  }
  to {
    transform: translate(200px);
  }
}

#about {
  margin-top: 2px;
  background-color: #a64d79;
  color: white;
  grid-column: 1/9;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .left {
  width: 40%;
}

#about h2 {
  font-size: 2rem;
}

#about .right > img {
  margin-top: 5px;
  height: 140px;
  border-radius: 5px;
}

.skills {
  margin-top: 2px;
  background-color: #ffd2d7;
  grid-column: 1/9;
  grid-row: 3/10;
  display: flex;
  justify-content: space-between;
}

.skills .about_me {
  grid-column: 1/4;
  padding: 3rem;
}

.skills .about_me > h2 {
  text-align: center;
  padding: 1rem;
  margin: 20px 0px;
  font-size: 2rem;
  color: #1a1a1d;
}

#about_me_title {
  font-size: 3rem;
  margin-top: 0;
}

.skills .about_me_images {
  grid-column: 4/9;
  padding: 3rem;
}

#temp1 {
  padding-bottom: 1.5rem;
}

#temp2 {
  padding-top: 1.5rem;
}

.skills img {
  padding: 3rem;
  width: 50vw;
  height: 500px;
  border-radius: 150px;
}

span {
  font-weight: bold;
}

.skills2 {
  grid-column: 1/9;
  grid-row: 10/13;
  background-color: #a64d79;
}

.skills2 h2 {
  font-size: 4rem;
  text-align: center;
  color: white;
}

.skills2_images_upper,
.skills2_images_lower {
  display: flex;
  justify-content: space-around;
}

.skills2 img {
  margin-top: 40px;
  height: 150px;
  max-width: 20vw;
}
/* Responsiveness */
@media (max-width: 800px) {
  .ball > img {
    max-width: 50%;
  }
  @keyframes extended_spin {
    from {
      transform: translate(0px);
    }
    to {
      transform: translate(200px);
    }
  }
}
@media (max-width: 600px) {
  .ball > img {
    max-width: 50%;
  }
  .ball {
    animation-duration: 5s;
  }
  @keyframes extended_spin {
    from {
      transform: translate(0px);
    }
    to {
      transform: translate(150px);
    }
  }
}
@media (max-width: 400px) {
  .ball > img {
    max-width: 50%;
  }
  .ball {
    animation-duration: 3s;
  }
  @keyframes extended_spin {
    from {
      transform: translate(0px);
    }
    to {
      transform: translate(100px);
    }
  }
}
@media (max-width: 280px) {
  .ball > img {
    max-width: 50%;
  }
  @keyframes extended_spin {
    from {
      transform: translate(0px);
    }
    to {
      transform: translate(50px);
    }
  }
}
