* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}

.head {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.portfolio {
    font-size: 3rem;
    font-weight: bolder;
}

.navigation {
    font-size: 2rem;
}

.navigation > button {
    background-color: black;
    color: white;
    padding: 0.5rem;
    font-weight: bolder;
    border: none;
    font-size: 1.2rem;
}

.container {
    display: grid;
    padding: 0 2rem;
}

.animation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
}

.ball {
    animation-name: extended_spin;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes extended_spin {
    from {
        transform: translate(-200px);
    }
    to {
        transform: translate(200px);
    }
}

/* Responsiveness */
@media (max-width: 800px) {
    .ball > img {
        max-width: 50%;
    }
    @keyframes extended_spin {
        from {
            transform: translate(0px);
        }
        to {
            transform: translate(200px);
        }
    }
}
@media (max-width: 600px) {
    .ball > img {
        max-width: 50%;
    }
    .ball {
        animation-duration: 5s;
    }
    @keyframes extended_spin {
        from {
            transform: translate(0px);
        }
        to {
            transform: translate(150px);
        }
    }
}
@media (max-width: 400px) {
    .ball > img {
        max-width: 50%;
    }
    .ball {
        animation-duration: 3s;
    }
    @keyframes extended_spin {
        from {
            transform: translate(0px);
        }
        to {
            transform: translate(100px);
        }
    }
}
@media (max-width: 280px) {
    .ball > img {
        max-width: 50%;
    }
    @keyframes extended_spin {
        from {
            transform: translate(0px);
        }
        to {
            transform: translate(50px);
        }
    }
}
